<template>
  <div id="wrapper">
    <TheSidebar/>
    <div id="page-wrapper" class="gray-bg">
      <TheHeader/>
      <div class="wrapper wrapper-content animate__animated animate__fadeIn">
        <div class="row">
          <router-view></router-view>
        </div>
      </div>
      <TheFooter/>
    </div>
  </div>
</template>

<script>
import TheSidebar from './TheSidebar.vue';
import TheHeader from './TheHeader.vue';
import TheFooter from './TheFooter.vue';

export default {
  name: 'TheContainer',
  components: {
    TheSidebar,
    TheHeader,
    TheFooter,
  },
};
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
