<template>
  <div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#">
          <i class="fa fa-bars"></i>
        </a>
        <form role="search" class="navbar-form-custom" method="post" action="#">
          <div class="form-group">
            <input type="text" placeholder="Search for something..."
                   class="form-control" name="top-search" id="top-search">
          </div>
        </form>
      </div>
      <ul class="nav navbar-top-links navbar-right">
        <li>
          <a href="#">
            <i class="fa fa-sign-out"></i> Log out
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!--  <CHeader fixed with-subheader light>-->
  <!--    <CToggler-->
  <!--      in-header-->
  <!--      class="ml-3 d-lg-none"-->
  <!--      @click="$store.commit('toggleSidebarMobile')"-->
  <!--    />-->
  <!--    <CToggler-->
  <!--      in-header-->
  <!--      class="ml-3 d-md-down-none"-->
  <!--      @click="$store.commit('toggleSidebarDesktop')"-->
  <!--    />-->
  <!--    <CHeaderBrand class="mx-auto d-lg-none" to="/">-->
  <!--      <CIcon name="logo" height="48" alt="Logo"/>-->
  <!--    </CHeaderBrand>-->
  <!--    <CHeaderNav class="d-md-down-none mr-auto">-->
  <!--      <CHeaderNavItem class="px-3">-->
  <!--        <CHeaderNavLink to="/dashboard">-->
  <!--          Dashboard-->
  <!--        </CHeaderNavLink>-->
  <!--      </CHeaderNavItem>-->
  <!--      <CHeaderNavItem class="px-3">-->
  <!--        <CHeaderNavLink to="/users" exact>-->
  <!--          Users-->
  <!--        </CHeaderNavLink>-->
  <!--      </CHeaderNavItem>-->
  <!--      <CHeaderNavItem class="px-3">-->
  <!--        <CHeaderNavLink>-->
  <!--          Settings-->
  <!--        </CHeaderNavLink>-->
  <!--      </CHeaderNavItem>-->
  <!--    </CHeaderNav>-->
  <!--    <CHeaderNav class="mr-4">-->
  <!--      <CHeaderNavItem class="d-md-down-none mx-2">-->
  <!--        <CHeaderNavLink>-->
  <!--          <CIcon name="cil-bell"/>-->
  <!--        </CHeaderNavLink>-->
  <!--      </CHeaderNavItem>-->
  <!--      <CHeaderNavItem class="d-md-down-none mx-2">-->
  <!--        <CHeaderNavLink>-->
  <!--          <CIcon name="cil-list"/>-->
  <!--        </CHeaderNavLink>-->
  <!--      </CHeaderNavItem>-->
  <!--      <CHeaderNavItem class="d-md-down-none mx-2">-->
  <!--        <CHeaderNavLink>-->
  <!--          <CIcon name="cil-envelope-open"/>-->
  <!--        </CHeaderNavLink>-->
  <!--      </CHeaderNavItem>-->
  <!--      <TheHeaderDropdownAccnt/>-->
  <!--    </CHeaderNav>-->
  <!--    <CSubheader class="px-3">-->
  <!--      <CBreadcrumbRouter class="border-0 mb-0"/>-->
  <!--    </CSubheader>-->
  <!--  </CHeader>-->
</template>

<script>
export default {
  name: 'TheHeader',
};
</script>
