<template>
  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav metismenu" id="metismenu">
        <li class="nav-header">
          <div class="dropdown profile-element">
            <img alt="image" class="rounded-circle" src="../assets/img/john-wick.jpg"/>
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <span class="block m-t-xs font-bold">John Wick</span>
              <span class="text-muted text-xs block">Assassin (Baba Yaga)
                <b class="caret"></b></span>
            </a>
            <ul class="dropdown-menu animated fadeInRight m-t-xs">
              <li><a class="dropdown-item" href="profile.html">Profile</a></li>
              <li><a class="dropdown-item" href="mailbox.html">Mailbox</a></li>
              <li class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="login.html">Logout</a></li>
            </ul>
          </div>
          <div class="logo-element">
            IN+
          </div>
        </li>
        <li>
          <a class="has-arrow" href="#" aria-expanded="true">
            <i class="fa fa-diamond"></i>
            <span class="nav-label">Dashboard</span>
          </a>
        </li>

        <li class="mm-active">
          <a class="has-arrow" href="#" aria-expanded="true">Menu 2</a>
          <ul class="mm-collapse mm-show">
            <li><a class="has-arrow" href="#" aria-expanded="false">Menu 2</a></li>
            <li><a class="has-arrow" href="#" aria-expanded="false">Menu 2</a></li>
          </ul>
          <ul class="nav nav-second-level collapse">
            <li>
              <a href="#">Third Level <span class="fa arrow"></span></a>
              <ul class="nav nav-third-level">
                <li><a href="#">Third Level Item</a></li>
              </ul>
            </li>
            <li><a href="#">Second Level Item</a></li>
          </ul>
        </li>
        <li>
          <a href="/about"><i class="fa fa-diamond"></i>
            <span class="nav-label">About</span></a>
        </li>

      </ul>

    </div>
  </nav>
  <!--  <CSidebar-->
  <!--    fixed-->
  <!--    :minimize="minimize"-->
  <!--    :show="show"-->
  <!--    @update:show="(value) => $store.commit('set', ['sidebarShow', value])"-->
  <!--  >-->
  <!--    <CSidebarBrand class="d-md-down-none" to="/">-->
  <!--      <CIcon-->
  <!--        class="c-sidebar-brand-full"-->
  <!--        name="logo"-->
  <!--        size="custom-size"-->
  <!--        :height="35"-->
  <!--        viewBox="0 0 556 134"-->
  <!--      />-->
  <!--      <CIcon-->
  <!--        class="c-sidebar-brand-minimized"-->
  <!--        name="logo"-->
  <!--        size="custom-size"-->
  <!--        :height="35"-->
  <!--        viewBox="0 0 110 134"-->
  <!--      />-->
  <!--    </CSidebarBrand>-->

  <!--    <CRenderFunction flat :content-to-render="$options.nav"/>-->
  <!--    <CSidebarMinimizer-->
  <!--      class="d-md-down-none"-->
  <!--      @click.native="$store.commit('set', ['sidebarMinimize', !minimize])"-->
  <!--    />-->
  <!--  </CSidebar>-->
</template>

<script>
import nav from './_nav';

export default {
  name: 'TheSidebar',
  nav,
  computed: {
    show() {
      return this.$store.state.sidebarShow;
    },
    minimize() {
      return this.$store.state.sidebarMinimize;
    },
  },
};
</script>

<style>

</style>
