<template>
  <div>
    <h1>Dashboard</h1>
    <div class="text-center m-t-lg">
      <h1>
        INSPINIA Static Seed Project for BS4
      </h1>
      <small>
        It is an application skeleton for a typical web app. You can use it to quickly
        bootstrap your webapp projects and dev environment for these projects.
      </small>
    </div>
    <HelloWorld></HelloWorld>
  </div>
</template>

<script>
import HelloWorld from '../components/HelloWorld.vue';

export default {
  name: 'Dashboard',
  components: {
    HelloWorld,
  },
};
</script>

<style scoped>
  h1 {
    font-family: cursive;
  }
</style>
