<template>
  <router-view/>
</template>

<script>
export default {
  name: 'App',
};
</script>

<style lang="scss">
// Import Main styles for this application
@import '~bootstrap';
@import '~animate.css';
@import 'assets/font-awesome/css/font-awesome.css';
@import '~metismenu';
@import 'assets/scss/style';
</style>
